* {
	box-sizing: border-box;
	font-family: Calibri, sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.title {
	color: #461f02;
	font-family: Georgia;
	font-size: 25px;
	font-weight: 400;
	font-style: italic;
	margin: 0;
}

.list-none {
	display: inline;
}

.container {
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
}

/* HEADER */

.header {
	min-height: 621px;
	background: url(../img/tablecloth_header.jpg) center center/cover no-repeat;
}

.header__main {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
	padding-top: 17px;
	border-bottom: 1px solid rgba(96, 58, 26, 0.2);
}

.header__main-list {
	width: 445px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__main-list-item {
	color: #766259;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	border-bottom: 1px solid rgba(96, 58, 26, 0.2);
}

.header__user {
	width: 253px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__user-location {
	color: #766259;
	font-size: 13px;
	font-weight: 400;
	cursor: pointer;
	position: relative;
}

.header__user-location-city {
	border-bottom: 1px dotted rgba(96, 58, 26, 0.2);
}

.header__user-account {
	color: #766259;
	font-size: 13px;
	font-weight: 400;
	cursor: pointer;
	position: relative;
	border-bottom: 1px dotted rgba(96, 58, 26, 0.2);
}

.header__user-location::before {
	content: "";
	background-image: url('../icon/header_location.png');
	background-size: 14px 17px;
	width: 14px;
	height: 17px;
	background-repeat: no-repeat;
	left: -19px;
	position: absolute;
}

.header__user-account::before {
	content: "";
	background-image: url('../icon/header_user.png');
	background-size: 14px 17px;
	width: 14px;
	height: 17px;
	background-repeat: no-repeat;
	left: -19px;
	position: absolute;
}

.header__info {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	padding-top: 20px;
	padding-bottom: 22px;
	border-bottom: 1px solid rgba(96, 58, 26, 0.2);
}

.header-title {
	display: flex;
	align-items: center;
}

.header-title-img {
	float: left;
	margin-right: 15px;
}

.header-title-text {
	color: #5e3919;
	font-family: Philosopher;
	font-size: 12px;
	font-weight: 700;
	width: 300px;
}

.header-title-orange {
	display: block;
	font-size: 36px;
	font-weight: 700;
	color: #fe8c1d;
}

.header-search {
	width: 330px;
	height: 36px;
	border: none;
	box-shadow: inset 0 1px 2px rgba(96, 58, 26, 0.22);
	border-radius: 18px;
	background-color: #ffffff;
	background-image: url('../icon/header_seacrh.png');
	background-position: 11px;
	background-repeat: no-repeat;
	color: #766259;
	font-family: Calibri;
	font-size: 13px;
	font-weight: 400;
	padding-left: 33px;
	position: relative;
}

.header__communication {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.header__communication-number {
	color: #461f02;
	font-family: Georgia;
	font-size: 28px;
}

.header__communication-bell-link {
	color: #766259;
	font-family: Calibri;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	border-bottom: 1px dotted rgba(96, 58, 26, 0.2);
}

.header__catalog {
	display: flex;
	justify-content: space-between;
	padding-top: 19px;
}

.header__catalog__nav {
	display: flex;
	align-items: center;
}

.header__catalog__nav-list {
	width: 781px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__catalog__nav-list-item {
	text-decoration: none;
	color: #461f02;
	font-family: Calibri;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.header__catalog__nav-list-item:hover {
	color: #593518;
}

.header__catalog-basket {
	display: flex;
	align-items: center;
	color: #461f02;
	font-family: Calibri;
	font-weight: 700;
	position: relative;
}

.header__catalog-basket-img {
	margin-right: 10px;
}

.header__catalog-basket a::before {
	content: '';
	background: url(../icon/basket-total.png);
	width: 21px;
	height: 21px;
	position: absolute;
	left: 17px;
	z-index: 5;
	pointer-events: none;
}

.header__catalog-basket-sum {
	font-size: 17px;
	margin-right: 5px;
}

.header__catalog-basket-rub {
	font-size: 14px;
}

.header__catalog-basket-total {
	color: #ffffff;
	font-family: Calibri;
	font-size: 11px;
	font-weight: 700;
	position: absolute;
	left: 25px;
	top: 4px;
	z-index: 10;
	pointer-events: none;
}


.main {
	margin-top: -395px;
}

.main .container {
	background-image: url(../img/form_bg.png);
	background-repeat: no-repeat;
	background-position-y: top;
	padding: 45px 30px 75px 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}





.data {
	width: 390px;
}

.data-headlock {
	color: #461f02;
	font-family: Georgia;
	font-size: 35px;
	font-style: italic;
	font-weight: 400;
	margin: 0;
}

.data__face {
	display: flex;
	margin-top: 42px;
}

.data__face-individual {
	min-height: 49px;
	border-radius: 4px 0 0 4px;
	/* border: 1px solid #f0e4ca; */
	/* background-color: #fdfcfa; */
	padding: 17px 36px;
	color: #461f02;
	font-family: Calibri;
	font-size: 15px;
	font-weight: 400;
	border: 1px dashed #d15b0a;
	cursor: pointer;
}

.data__face-entity {
	min-height: 49px;
	border-radius: 0 4px 4px 0;
	/* border: 1px solid #f0e4ca; */
	/* background-color: #fdfcfa; */
	padding: 17px 36px;
	color: #461f02;
	font-family: Calibri;
	font-size: 15px;
	font-weight: 400;
	border: 1px dashed #d15b0a;
	cursor: pointer;
}

.data__face-active {
	border: 1px solid #f0e4ca;
	background-color: #fdfcfa;
}

.data-first-title {
	margin-top: 42px;
}

.data-second-title {
	margin-bottom: 34px;
}

.data-third-title {
	font-size: 19px;
	margin-top: 8px;
}

.data-fourth-title {
	font-size: 19px;
	margin-top: 27px;
}

.data-fifth-title {
	margin-top: 42px;
}

.data__contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 22px;
}

.data__block {
	margin-bottom: 17px;
}

.data__block-text {
	color: #817068;
	font-family: Calibri;
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 8px 10px;
}

.data__block-input {
	width: 185px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid #c4b7b1;
	padding-left: 12px;
	color: #461f02;
	font-family: Calibri;
	font-size: 16px;
	font-weight: 400;
}

.data__block-input::placeholder {
	color: rgba(129, 112, 104, .5);
	font-family: Calibri;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
}

.data__block-hidden {
	margin-top: 8px;
	margin-left: 9px;
	width: 184px;
	color: #958781;
	font-family: Calibri;
	font-size: 11px;
}

.data__block-hidden-active {
	visibility: hidden;
}

.data__block-number {
	display: flex;
}

.data__block-first-number {
	width: 40px;
	height: 35px;
	border: 1px solid #c4b7b1;
	border-right: none;
	text-align: center;
	vertical-align: center;
	line-height: 33px;
	color: #817068;
	font-family: Calibri;
	font-size: 16px;
	font-weight: 400;
}

.data__block-input-number {
	width: 120px;
	height: 35px;
	margin-right: 26px;
	border-radius: 0 2px 2px 0;
	border: 1px solid #c4b7b1;
	padding-left: 12px;
	color: #461f02;
	font-family: Calibri;
	font-size: 16px;
	font-weight: 400;
}

.data__block-input-number::placeholder {
	color: rgba(129, 112, 104, .5);
	font-family: Calibri;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
}

.data__address {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.data__block-select {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.data__block-select:after {
	content: url('../icon/select-arrow.png');
	padding: 0 8px;
	font-size: 12px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;
	text-align: center;
	width: 10px;
	height: 5px;
	pointer-events: none;
	box-sizing: border-box;
}

.select {
	height: 35px;
	border-radius: 2px;
	border: 1px solid #c4b7b1;
	padding-left: 12px;
	color: #461f02;
	font-family: Calibri;
	font-size: 16px;
	font-weight: 400;
	padding-right: 25px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select::-ms-expand {
	display: none;
}

.select-country {
	width: 185px;
}

.select-metro {
	width: 246px;
}

.data__radio {
	margin-top: 14px;
}

.data__radio__block {
	width: 100%;
	border: 1px dashed #f0e4ca;
	padding-left: 16px;
	padding-top: 17px;
	padding-bottom: 20px;
}

.data__radio__block-active {
	background-color: #fdfcfa;
	border: 1px solid #f0e4ca;
}

.data__radio__block-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	border: 1px solid #999;
	transition: 0.2s all linear;
	outline: none;
	position: relative;
	top: 2px;
	background: center center;
}

.data__radio__block-button:checked {
	background: url(../icon/radio_bg.png) center center no-repeat;
}

.data__radio__block-name {
	margin-left: 11px;
	color: #461f02;
	font-family: Calibri;
	font-size: 17px;
	font-weight: 700;
}

.data__radio__block-text {
	max-width: 270px;
	color: #c4b7b1;
	font-family: Calibri;
	font-size: 13px;
	font-weight: 400;
	margin-top: 4px;
	margin-left: 28px;
}

.data__metro {
	margin-top: 15px;
}

.data__map {
	display: none;
	position: relative;
	margin-top: 21px;
}

.data__map-active {
	display: block;
}

.data__map-text {
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 152px;
	width: 390px;
	position: absolute;
	bottom: -2px;
	padding: 25px 22px;
	color: #461f02;
	font-family: Calibri;
	font-size: 16px;
	font-weight: 700;
	pointer-events: none;
	transition: all 1s;
}

.data__map:hover .data__map-text {
	opacity: 0.3;
}

.data__comment {
	margin-top: 21px;
	width: 100%;
	height: 180px;
	border-radius: 2px;
	border: 1px solid #c4b7b1;
	resize: none;
}

.data__submit-block {
	position: relative;
	display: flex;
	justify-content: flex-end;
	margin-top: 28px;
}

.data__submit-block::after {
	content: url('../icon/form-submit.png');
	position: absolute;
	right: 25px;
	top: 16px;
	width: 4px;
	height: 10px;
	pointer-events: none;
}

.data__submit {
	width: 226px;
	height: 46px;
	border-radius: 2px;
	border: 1px solid #ff6900;
	background-color: #fff;
	color: #ff7700;
	font-family: Calibri;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}




.order {
	width: 308px;
	border: 1px solid #f0e4ca;
	background-color: #ffffff;
	padding-top: 20px;
	margin-top: 55px;
}

.order__section-title {
	width: 270px;
	margin: 0 auto;
}

.order-title {
	margin-bottom: 16px;
}

.order__block {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 270px;
	margin: 15px auto 15px auto;
}

.order-name {
	width: 170px;
	display: block;
	color: #766259;
	font-family: Calibri;
	font-size: 14px;
	font-weight: 400;
}

.order__cost-number {
	color: #461f02;
	font-family: Calibri;
	font-size: 14px;
	font-weight: 400;
}

.order__cost-rub {
	color: #461f02;
	font-family: Calibri;
	font-size: 14px;
	font-weight: 400;
}

.order__section-product {
	margin: 0 auto;
	padding-top: 8px;
	padding-bottom: 8px;
}

.order__section-price {
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #fdfcfa;
	border-top: 1px dashed #f0e4ca;
	border-bottom: 1px dashed #f0e4ca;
}

.order__section-sum {
	background-color: #f0e4ca;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.order__block-sum {
	display: flex;
	align-items: center;
}

.order-name-sum {
	display: block;
	color: #461f02;
	font-family: Calibri;
	font-size: 14px;
	font-weight: 700;
}

.order__cost-number-sum {
	color: #461f02;
	font-family: Calibri;
	font-size: 20px;
	font-weight: 700;
}

.order__cost-rub-sum {
	color: #461f02;
	font-family: Calibri;
	font-size: 20px;
	font-weight: 700;
}



.footer {
	max-height: 303px;
	background: url(../img/footer_bg.jpg) center center/cover no-repeat;
	padding-top: 35px;
	padding-bottom: 18px;
}

.footer__main {
	display: flex;
	justify-content: space-between;
}

.footer__main-block {
	width: 25%;
}

.footer__main-title {
	margin: 0;
	padding-bottom: 5px;
	color: #461f02;
	font-family: Georgia;
	font-size: 17px;
}

.footer__main-block-list {
	display: flex;
}

.footer__main-list {
	display: inline-block;
	margin-right: 25px;
}

.footer__main-list li {
	margin-bottom: 5px;
}

.footer__main-link {
	color: #766259;
	font-family: Calibri;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	border-bottom: 1px solid rgba(96, 58, 26, 0.2);
}

.footer__main-number {
	color: #766259;
	font-family: Calibri;
	font-size: 14px;
	font-weight: 400;
}

.footer__main-number-place {
	font-size: 13px;
}

.footer__main-text {
	color: #766259;
	font-family: Calibri;
	font-size: 13px;
	font-weight: 400;
}

.footer__main-form {
	display: flex;
	align-items: center;
	margin-top: 13px;
}

.footer__main-input {
	width: 200px;
	height: 40px;
	border-radius: 2px 0 0 2px;
	border: 1px solid #c4b7b1;
	border-right: none;
	background-color: #ffffff;
	padding-left: 14px;
	color: #766259;
	font-family: Calibri;
	font-size: 15px;
	font-weight: 400;
}

.footer__main-submit {
	width: 40px;
	height: 40px;
	padding: 0;
	border: none;
	background-color: #ff6f00;
	background-image: url(../icon/arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.footer-line {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin: 0 auto;
	background-color: #ff7700;
	position: relative;
	margin-top: 45px;
	margin-bottom: 15px;
}

.footer-line::before {
	content: "";
	width: 480px;
	height: 2px;
	background-color: #ff7700;
	position: absolute;
	top: 3px;
	left: -482px;
	border-radius: 1px;
}

.footer-line::after {
	content: "";
	width: 480px;
	height: 2px;
	background-color: #ff7700;
	position: absolute;
	top: 3px;
	left: 9px;
	border-radius: 1px;
}

.footer__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__info-year {
	color: #766259;
	font-family: Calibri;
	font-size: 13px;
	font-weight: 400;
}

.footer__info-social {
	width: 130px;
	display: flex;
	justify-content: space-between;
}